

    <nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      
      <a class="navbar-brand" href="#">{{brand}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li class="dropdown" dropdown>
          <a dropdownToggle class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul  *dropdownMenu class="dropdown-menu">
           
            <li routerLinkActive="active">
            <a class="nav-link" routerLink="/posts">state list</a>
            </li>
             <li routerLinkActive="active">
            <a class="nav-link" routerLink="/posts">city list</a>
            </li>
            <li routerLinkActive="active">
            <a class="nav-link" routerLink="/posts">district list</a>
            </li>
            <li routerLinkActive="active">
            <a class="nav-link" routerLink="/posts">pincode list</a>
            </li>
            

           <!--  <li><a href="#">state list</a></li>
            <li><a href="#">pincode</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li> -->
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown" dropdown>
          <a dropdownToggle class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu"  *dropdownMenu>
            <li><a style="cursor: pointer;" (click)="onFetchData()">Fetchdata</a></li>
            <li><a style="cursor: pointer;" (click)="onFetchData()">Savedata</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


