<!-- <app-navbar></app-navbar>

<div>
	   <div class="col-md-12" >
	<ul
		 *ngFor="let item of items | slice:0:end;">
      pincode:<br>
     {{item.pincode}}<hr>
    
    
	</ul>
	
   <div id="loadMore">
   <! <ng-template #popContent>Hello, <b>{{name}}</b>!</ng-template> -->
   <!--  <button  type="button" class="btn btn-secondary" [ngbPopover]="popContent" popoverTitle="loading..." (click)="doInfinite()" >load more</button>
     
   </div>
 -->

   <!-- <div id="loadMore">
    <button (click)="doInfinite()" >load more</button>
     <p *ngIf = "!doInfinite(); else elsePart">loading </p>
     <ng-template #elsePart>
     <p>......loading</p>
     </ng-template>
   </div> -->
  <!--  </div>
</div>
 --> 




 <app-navbar (featureSelected)="onNavigate($event)"></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>