<div class="container">
<a
  style="cursor: pointer;"
   [routerLink]="[index]" 
  routerLinkActive="active"
  class="list-group-item clearfix">
  
  <div  id="left">
  <h1 class="list-group-item-text">{{ post.city}}</h1>
     <h5 class="list-group-item-text"><span style="color:green;">Id:</span>{{ post.id}}</h5>
     <h5 class="list-group-item-text"><span style="color:green;">postId: </span>{{ post.postId}}</h5>
     <h5 class="list-group-item-heading"><span style="color:green;">Pincode</span>{{ post.pincode }}</h5>

</div>
<div   id="right" >
   <span>
        <img
          [src]="post.pic"
        
          class="img-responsive"
          style="max-height: 200px;">   
      </span>
</div>

</a>
<br>

<!-- <div class="text-center" style="color: green;">
  <button style="cursor: pointer;" (click)="funcLoad()"> more</button>
  <button style="cursor: pointer;" (click)="function()">less</button>
</div> -->
</div>