<div class="row" class="col-md-12" >
    <!-- <button class="btn btn-success" (click)="onNewPost()">New Post</button> -->
  
<hr>

    <app-post-item
      *ngFor="let postEl of posts | slice:0:end; let i = index" class="dropdown-postEl" (click) = "onClick(postEl)" [post]= "postEl" [index]="i" id="a1">
      	{{ postEl }}

      </app-post-item>
</div>
<div class="row">
  <div class="col-md-12" id="loadMore">
     <button  (click)="doInfinite()">load more</button>
   </div>
</div>

    

